<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div id="led1"
            style=" width: 99%; 
                    height: 120px; 
                    border: 5px black solid;
                    background-color: rgb({{ ledData.led[0].color.r }},{{ ledData.led[0].color.g }},{{ ledData.led[0].color.b }});">
                <span>LED 1</span>
                <br>
                <input oninput="updateColor(this.id)" style="background-color: red; width: 100%; max-width: 300px;" 
                    id="led1-r" type="range" min="0" max="255" value="{{ ledData.led[0].color.r }}">
                </input>
                <br>
                <input oninput="updateColor(this.id)" style="background-color: green; width: 100%; max-width: 300px;" 
                    id="led1-g" type="range" min="0" max="255" value="{{ ledData.led[0].color.g }}">
                </input>
                <br>
                <input oninput="updateColor(this.id)" style="background-color: blue; width: 100%; max-width: 300px;" 
                    id="led1-b" type="range" min="0" max="255" value="{{ ledData.led[0].color.b }}">
                </input>

        </div>

        <div id="led2" 
            style=" width: 99%; 
                    height: 120px;
                    border: 5px black solid; 
                    background-color: rgb({{ ledData.led[1].color.r }},{{ ledData.led[1].color.g }},{{ ledData.led[1].color.b }});">
                <span>LED 2</span>
                <br>
                <input oninput="updateColor(this.id)" style="background-color: red; width: 100%; max-width: 300px;" 
                    id="led2-r" type="range" min="0" max="255" value="{{ ledData.led[1].color.r }}">
                </input>
                <br>
                <input oninput="updateColor(this.id)" style="background-color: green; width: 100%; max-width: 300px;" 
                    id="led2-g" type="range" min="0" max="255" value="{{ ledData.led[1].color.g }}">
                </input>
                <br>
                <input oninput="updateColor(this.id)" style="background-color: blue; width: 100%; max-width: 300px;" 
                    id="led2-b" type="range" min="0" max="255" value="{{ ledData.led[1].color.b }}">
                </input>

        </div>
        <br>
        <button 
            onclick="seturl()"
            style="width: 49%; height: 50px;">Set LEDcolor</button>
        <button
            onclick="setboth()"
            style="width: 49%; height: 50px;">Set Both</button>
        <br>
        <br>
        <button
            onclick="window.location.replace('/off');"
            style="width: 100%; height: 50px;">Off</button>
        <br>
        <br>
        <button
            style="width: 50%; height: 50px;"
            onclick="window.location.replace('/timer/' + document.getElementById('snoozeTime').value*60);"
            >Set Snooze minutes</button>
        <input style="width: 45%; height:40px;" value="10" type="number" id="snoozeTime" min="5" max="30" step="5">
        <br>
        <br>
        <span>{{ ledData.snoozeTimer }} s to go</span>
        <script>
        function updateColor(id){
            // a = document.getElementById(id);
            // a.style.backgroundColor = 'rgb(' + a.value+ ',0,0)';
            r1 = document.getElementById('led1-r').value;
            g1 = document.getElementById('led1-g').value;
            b1 = document.getElementById('led1-b').value;
            r2 = document.getElementById('led2-r').value;
            g2 = document.getElementById('led2-g').value;
            b2 = document.getElementById('led2-b').value;
            document.getElementById('led1').style.backgroundColor = 'rgb(' + r1 +','+ g1 +','+ b1 +')';
            document.getElementById('led2').style.backgroundColor = 'rgb(' + r2 +','+ g2 +','+ b2 +')';
        }

        function setboth(){
            var led1 = document.getElementById('led1').style.backgroundColor;
            led1 = led1.split("(")[1].split(")")[0].split(",");
            var colorCode = 
                led1[0] + ',' +
                led1[1] + ',' +
                led1[2] + '&' +
                led1[0] + ',' +
                led1[1] + ',' +
                led1[2]
            ;
            colorCode = colorCode.replace(/ /g,'');
            // alert(colorCode);
            window.location.replace('/set/' + colorCode);
        }

        function seturl(){
            var led1 = document.getElementById('led1').style.backgroundColor;
            led1 = led1.split("(")[1].split(")")[0].split(",");
            var led2 = document.getElementById('led2').style.backgroundColor;
            led2 = led2.split("(")[1].split(")")[0].split(",");
            var colorCode = 
                led1[0] + ',' +
                led1[1] + ',' +
                led1[2] + '&' +
                led2[0] + ',' +
                led2[1] + ',' +
                led2[2]
            ;
            colorCode = colorCode.replace(/ /g,'');
            // alert(colorCode);
            window.location.replace('/set/' + colorCode);
        }

        </script>
    </body>
</html>
